/* CSS reset */

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset end */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  background-color: #FAECE1;
  color: #132E4E;
  padding: 0;
  margin: 0;
  max-width: 500px;
  min-width: 50%;
}

/* If the screen size is 500px or less, make the following changes */
@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
		min-width: 90%;
		margin-right: 60px;
  }

	h3 {
		font-size: 25px;
	}

}

a {
  font-family: Roboto;
  color: #1E5CA5;
  text-decoration: underline 2px #1E5CA5;
  font-weight: bold;
}

a:hover{
  color: #297FE4;
  text-decoration: underline 2px #297FE4;
  font-weight: bold;
}

.header {
  padding-top: 80px;
  padding-left: 50px;
}

.header p{
  padding-left: 40px;
}

.header h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 38px;
  color: #132E4E;
}

.links{
  padding-left: 90px;
  padding-bottom: 10px;
}

i {
  margin-right: 20px;
}

.work{
  padding-bottom:100px;
  padding-left: 50px;
}

.work p{
  padding-left: 40px;
}

.work h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 38px;
  color: #132E4E;
}

.about h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 38px;
  color: #132E4E;
}

.about{
  padding-top: 80px;
  padding-left: 50px;
}

.about p{
  padding-left: 40px;
}

.casebody {
	padding-left: 50px;
	padding-bottom:80px;
}

.casebody p{
	padding-left: 40px;
}

.casebody h4{
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 38px;
	color: #132E4E;
}

.casebody img{
	  max-width: 700px;
}
